.offer_card_box{
    width: 100%;
    padding: 0px 16px 0px 0px;
}
.offer_card_box:first-child{
    padding-left: 0;
}
.offer_card_II{
    padding: 12px;
    display: flex;
    width: 328px;
}  
.offer_card_I{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 231);
}
.offer_card_row{
    margin-right: auto;
    width: calc(-56px + 100vw);
    border: 1px solid rgb(255, 255, 255);
}
.offer_card{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.offer_img{
    height: 48px;
    width: 48px;
}
img{
    object-fit: cover;   
     border-style: none;

}
.offer_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 12px;
    gap: 2px;
}
.offer_off{
    -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.offer_coupon{
    -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.45);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
a{
    text-decoration: none;
}