.menu{
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
}
.RestaurantHeader{
    margin: 0 16px;
}
.HeaderWrapper{
    padding-top: 16px;
}
.MarginBottom{
    margin-bottom: 18px;
}
.NameAddressWrapper{
    display: inline-block;
    margin-right: 16px;
    width: calc(100% - 120px);
}
.NameAddressName{
font-size: 1.43rem;
font-weight: 600;
color: #282c3f;
margin-bottom: 8px;
text-transform: capitalize;
}
.NameAddressCuisines{
    font-size: .93rem;
    color: #7e808c;
    height: calc(0.93rem + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}
.AreaWrapper{
    display: flex;
    align-items: center;
    height: 16px;
}
.Area{
    font-size: .93rem;
    color: #7e808c;
}
.LastMile{
    font-size: .93rem;
    color: #7e808c;
}
.OutletSelectorWrapper{
    display: block;
}
.OutletSelector{
    padding-left: 4px;
    padding-right: 4px;
    color: #fc8019;
}
.OutletIcon{
    font-size: 14px;
}
.RatingsWrapper{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
    float: right;
}
.AvgRating{
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}
.icon-star{
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.TotalRatings{
    font-size: 11px;
    color: #8b8d97;
    font-family: ProximaNovaCondensedRegular, arial, Helvetica Neue, sans-serif;
    font-weight: 600;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.li{
    text-align: -webkit-match-parent;
}
.MessageWrapper{
    color: #7e808c;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}
.MessageText{
    flex-grow: 1;
}
.ScreenReaderOnly{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
.DottedSeparator{
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}
.TimeCostWrapper{
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
}
.TimeCostItem{
    display: inline-block;
}
.TimeCostItem:first-child{
    margin-right: 24px;
}
.TimeCostIcon{
    vertical-align: bottom;
    margin-right: 10px;
}
svg:not(:root)
{
    overflow: hidden;
}





