.search_container{
    flex-grow: 1;
    margin-top: 50px;
}
.searchbox_container{
    position: sticky;
    width: 100%;
    left: 0;
    top:80px;
    z-index: 2;
    background-color: #ffff;
    padding-bottom: 8px;
    padding-top: 48px;
}
.search_div{
    padding: 0;
    background: #fff;
    height: 48px;
    overflow: hidden;
    border-bottom: 1px solid rgba(40, 44, 63, .2);
}
.search_css{
    width: 860px;
    margin: 0 auto 8px;
    border: 1px solid rgba(40, 44, 63, .3);
    border-radius: 3px;
}
form{
    display: block;
    unicode-bidi: isolate;
}
.search_box_container{
   
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    padding-right: 13px;
    justify-content: center;
}
.search:first-child{
    padding-left: 16px;
}
.search{
    flex: 1;
    min-width: 0;
    padding-right: 12px;
}
.input_box{
    font-size: 1.15rem;
    line-height: 24px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    color: inherit;
    background: inherit;
    vertical-align: middle;
    font-weight: 500;
}
.search_icon{
    color: #686b78;
    font-size: 18px;
    height: 18px;
}
.icon-magnifier{
    font-family: icomoon;
    
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.Cuisine_container{
    position: relative;
    min-height: calc(100vh - 70px);
    width: 860px;
    margin: 0 auto;
}
.cuisine_inner{
    color: #282c3f;
    overflow-x: hidden;
    animation-duration: .5s;
}
.Search_wrapper__lQvnw{
    
    background: #f5f6f8;
}
.cuisine_wrapper{
    margin-top: 0 !important;
    background-color: #fff !important;
}
.Search_divider__3ARUS{
    margin-top: 8px;
    height: 4px;
    border-bottom: 8px solid #aeb1be;
    opacity: .3;
}
.cuisine_divider{
    display: none;
}
.Search_widgetsV2__27BBR{
    flex: 1 1 50%;
}
.styles_container__jxIGl{
    background: #fff;
}
.styles_headerContainer__2UgeD{
    width: 100vw;
}
.styles_headerContainerTitle{
    font-size: 1.43rem;
    font-weight: 800;
    color: #3d4152;
    letter-spacing: -.3px;
    display: block;
    font-family: ProximaNovaExtraBold, arial, Helvetica Neue, sans-serif;
}
.styles_headerContainerSubtitle{
    font-size: 1.15rem;
    font-weight: 400;
    color: #686b78;
    margin-top: 2px;
    display: block;
}
.styles_slider{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}
.styles_row{
    display: flex;
}
.styles_slide{
    scroll-snap-align: center;
    flex-shrink: 0;
}
.Carousel_slide{
    scroll-snap-align: center;
    min-width: 100%;
    min-height: 100%;
}
.styles_container__1Nshr{
    display: inline-block;
    background-size: contain;
}
.Ripple_container{
    position: relative;
    overflow: hidden;
}
.styles_containerImg__3AXGh{
    width: 100%;
    height: 100%;
}
.styles_img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}


