
.header-container {
  background-color: #ffffff;
  color: #0b0b0b;
  padding: 15px 130px 15px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:90px;
  box-sizing: border-box;
  border-bottom: 2px solid #fcfbfb;
  box-shadow: 0px 7px 9px rgba(180, 179, 179, 0.253);
  
}
.logo-container {
  display: flex;
  align-items: center;
  background-color: #ffffffad;
  height:auto;
  width: 60px;
}

.logo {
  width: 50px; 
  height:6700px;
  border-radius: 8px; 
  margin-right: 10px; 

}

.menu_header {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.menu-items {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu-items:hover {
  color: #ffffff; 
}

.search-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.search-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049; 
}

.restaurant-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 280px; 
  height: auto; 
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.cart-container {
  margin-left: 12 px; 
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.food-image img {
  width:100%; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
}

.food-info {
  flex: 1;
  padding: 10px;
  text-align: center; 
}

/* button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: -2px 5px;
  width: 100px;
  padding: 5px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}
button:hover {
  color: white;
  width:;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
} */

/* .order-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.order-button:hover {
  background-color: #45a049;
} */


.restaurant-card:hover {
  transform: scale(1.03); 
}



.logo{
  width: 100px;
  height: 40px;
}

body{
  background-color: rgba(255, 252, 252, 0.845);
  
  
}
.body-container{
  padding: 2px 140px 2px 200px;
}
.shimmer_card_container{
  padding: 2px 140px 2px 220px;
}
.card {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    height: 230px;
    overflow: hidden;
    width: 210px; 
    /* margin: 40px auto; */
    margin-top: 30px;
    margin-left: 20px;
    display: inline;
    float: left;
  
  .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}
/* 

@keyframes shimmer {
  0% {
       background-position: -1200px 0;
   }
 
   100% {
       background-position: 1200px 0;
   }
}
 
@-webkit-keyframes shimmer {
    from 0% {
        background-position: -100% 0;
    }
    to 100% {
        background-position: 100% 0;
    }
} */



    .media {
    height:100px;
}

.shimmer-content{
    padding: 0px 10px 0px 10px;
    
}

.title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    margin-top:10px;
    border-radius: 15px;
}

.content-line {
    height: 10px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}
  
  .end {
      width: 40%;
    }

}
.container{
  display: block;
  margin:40px 0px 20px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.inner-container
{
  width: 100%;
  
}
.curat-container
{
  /* margin-top: 20px;
  padding: 20px; */
  height: 200px;
  display: flex;
  overflow-x:visible;
  width: 100%;
  /* display: inline;
  float: left; */

  /* font-size: medium; */
  /* background-color: #45a049; */
}
.image-container{
  width: 144px;
  height: 180px;
  /* border-radius: 50%; */
  overflow: hidden;
  position: relative;
  display: inline;
  float: left;
  margin:10px;
}
.curat-title
{
  height:20px;
  /* background-color: #45a049; */
  margin: 10px;
}
.shimmer-container {
  width: 110px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline;
  float: left;
  margin:18px;
  }
  

.circle_shimmer {
  width: 100%;
  height: 100%;
  
  background: linear-gradient(90deg, transparent, rgba(172, 170, 170, 0.452), transparent);
  animation: shimmerAnimation 1.5s infinite linear;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


.m-t-24 {
    margin-top: 24px;
}

.filter{
 display: flex; 
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link{
  text-decoration: none;
}
.title-body{
  padding: 10px;
  display: block;
  margin: 5px 0px 5px 0px;
}
/* Food Card Container */
.food-card {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  &:hover {
    transform: scale(1.05);
  }
}

/* Restaurant Card */
.restaurant-card {
  position: relative;
  width: 250px;
  height: 140px;
  padding: 0px;
  overflow: hidden;
}

.restaurant-image {
  width: 100%;
  height: 150px; /* Set an appropriate height */
  object-fit: cover;
}

/* Discount Badge */
.discount-badge {
  position: absolute;
  top:88px;
  right: 0px;
  left: 0px;
  width:250px ;
  padding: 7px 21px;
  background-color: #0000008e;
  color: #fff;
  border-radius: 5px;
  font-size:small;
  font-weight: bold;
  text-align: center;
}
.bhUeB{
  display: grid;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}
.jRWNeE{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.jzlukq{
  text-transform: uppercase;
}
.eOcpsq{
  -webkit-font-smoothing: antialiased;
  font-family: ProximaNovaCond;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ivxbaH{
  -webkit-font-smoothing: antialiased;
  font-family: ProximaNovaCond_Black;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dMioqQ {
  -webkit-font-smoothing: antialiased;
    font-family: ProximaNovaCond_Extrabold;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overflow_hidden{

  width: 230px;
}
.cHWThC{
  margin: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
  
}
.sw-restaurant-card-subtext-container{
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
  grid-auto-flow: column;
  -webkit-box-pack: start;
  justify-content: start;
}
.bUjCLt{
  -webkit-font-smoothing: antialiased;
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.gnOsqr{
  -webkit-font-smoothing: antialiased;
  font-family: Basis_Grotesque_Pro_Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}
.sw-restaurant-card-descriptions-container {
  display: grid;
    -webkit-box-align: center;
    align-items: center;
  
    margin-top: 2px;
    width: 246;
    gap: 2px;
}
.dnXOKm {
  -webkit-font-smoothing: antialiased;
  font-family: Basis_Grotesque_Pro;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
}


/* Restaurant Details */
.restaurant-details {
  padding: 2px 10px 2px 10px;
  height: 100px;
}

/* Restaurant Name */
.restaurant-name {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Restaurant Rating and Delivery Time */
.restaurant-rating-time {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 10px;
  

  /* Rating Style */
  .rating {
    color: #000000; /* Gold color for stars */
    margin-right: 5px;
    font-weight: bold;
  }
  .delivery-time{
    color: #000000;
    font-weight: bold;
  }

  /* Separator Style */
  .separator {
    margin: 0 5px;
  }
}

/* Cuisine Type */
.cuisine-type {
  font-size: 0.9em;
  color: #9c9c9c;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Location */
.location {
  font-size: 0.9em;
  color: #9c9c9c;
}
.curat{
  margin: 100px;
}

.curat-container{
 margin-top: 20px;
}
